.ContactUs .heading {
  color: #fff;
  text-align: center;
  font-family: "NotoSans-Regular", Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.ContactUs .sub-heading {
  color: #fff;
  font-family: "NotoSans-Regular", Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.64px;
}

.ContactUs .sub-header {
  font-family: "NotoSans-Regular", Helvetica;
  color: #3c4043;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.ContactUs .regular-text {
  font-family: "NotoSans-Regular", Helvetica;
  color: #3c4043;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  letter-spacing: 0.4px;
}

.ContactUs .sub-header-2 {
  color: #000;
  font-family: "NotoSans-Regular", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.4px;
}

.ContactUs .location-map {
  border-radius: 4px;
  overflow: hidden;
}

.ContactUs .office-card {
  display: flex;
  width: 312px;
  padding: 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #ced4da;
  background: #fff;
}

.ContactUs .office-card-header {
  color: #3c4043;
  font-family: "NotoSans-Regular", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.4px;
}

.ContactUs .office-card-regular-text {
  color: #3c4043;
  font-family: "NotoSans-Regular", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* maps */

.address{
  cursor: text;
}

.place-card{
  background-color: red;
}

/* recaptcha */

#recaptcha:hover{
  cursor: pointer;
}