.button {
    align-items: center;
    gap: 36px;
    position: relative;
  }
  
  .button .support {
    align-items: center;
    border-radius: 6px;
    gap: 10px;
    justify-content: center;
    padding: 12px 18px;
    position: relative;
  }
  
  .button .frame-4 {
    position: relative;
  }
  
  .button .text-wrapper-2 {
    color: #ffffff;
    font-family: "HelveticaNeue-Medium", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .button .chevron-down-2 {
    height: 16px;
    position: relative;
    width: 16px;
  }
  
  .button .text-wrapper-3 {
    font-family: "HelveticaNeue-Medium", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .button .download {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .button.default-small {
    display: flex;
    width: 118px;
  }
  
  .button.outline {
    display: flex;
    width: 118px;
  }
  
  .button.default-medium {
    display: flex;
    height: 48px;
    width: 264px;
  }
  
  .button.large-uppercase-white-outline {
    display: inline-flex;
    width: 118px;
  }
  
  .button.medium-icon {
    display: flex;
    height: 48px;
    width: 264px;
  }
  
  .button.medium-icon-outline {
    display: flex;
    height: 48px;
    width: 264px;
  }
  
  .button.small-white {
    display: flex;
    width: 118px;
  }
  
  .button.default-large {
    display: inline-flex;
    width: 118px;
  }
  
  .button.default-small-icon {
    display: inline-flex;
    width: 118px;
  }
  
  .button.large-uppercase-white {
    display: inline-flex;
    width: 118px;
  }
  
  .button.white-large {
    display: inline-flex;
    width: 118px;
  }
  
  .button.default-small .support {
    background-color: rgba(20, 109, 250, 1);
    display: flex;
    height: 48px;
    cursor: pointer;
    gap: 36px;
    width: 118px;
  }
  
  .button.outline .support {
    background-color: #ffffff;
    border: 1px solid;
    border-color: rgba(20, 109, 250, 1);
    display: flex;
    height: 48px;
    width: 118px;
  }
  
  .button.default-medium .support {
    background-color: rgba(20, 109, 250, 1);
    display: flex;
    height: 48px;
    width: 264px;
  }
  
  .button.large-uppercase-white-outline .support {
    border: 1px solid;
    border-color: rgba(20, 109, 250, 1);
    display: flex;
    width: 326px;
  }
  
  .button.medium-icon .support {
    background-color: rgba(20, 109, 250, 1);
    display: flex;
    height: 48px;
    width: 264px;
  }
  
  .button.medium-icon-outline .support {
    border: 1px solid;
    border-color: rgba(20, 109, 250, 1);
    display: flex;
    height: 48px;
    width: 264px;
  }
  
  .button.small-white .support {
    background-color: #ffffff;
    display: flex;
    height: 48px;
    width: 118px;
  }
  
  .button.default-large .support {
    background-color: rgba(20, 109, 250, 1);
    display: flex;
    height: 48px;
    width: 326px;
  }
  
  .button.default-small-icon .support {
    background-color: rgba(20, 109, 250, 1);
    display: inline-flex;
    flex: 0 0 auto;
    height: 48px;
    width: 326px;
  }
  
  .button.large-uppercase-white .support {
    border: 1px solid;
    border-color: #ffffff;
    display: flex;
    width: 326px;
  }
  
  .button.white-large .support {
    background-color: #ffffff;
    display: flex;
    width: 326px;
  }
  
  .button.default-small .frame-4 {
    color: #ffffff;
    font-family: "HelveticaNeue-Medium", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: normal;
    width: fit-content;
  }
  
  .button.outline .frame-4 {
    color: rgba(20, 109, 250, 1);
    font-family: "HelveticaNeue-Medium", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: normal;
    width: fit-content;
  }
  
  .button.default-medium .frame-4 {
    color: #ffffff;
    font-family: "HelveticaNeue-Medium", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: normal;
    width: fit-content;
  }
  
  .button.large-uppercase-white-outline .frame-4 {
    color: rgba(20, 109, 250, 1);
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.medium-icon .frame-4 {
    color: rgba(20, 109, 250, 1);
    font-family: "HelveticaNeue-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: normal;
  }
  
  .button.medium-icon-outline .frame-4 {
    color: rgba(20, 109, 250, 1);
    font-family: "HelveticaNeue-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: normal;
  }
  
  .button.small-white .frame-4 {
    color: rgba(20, 109, 250, 1);
    font-family: "HelveticaNeue-Medium", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: normal;
    width: fit-content;
  }
  
  .button.default-large .frame-4 {
    color: #ffffff;
    font-family: "HelveticaNeue-Medium", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: normal;
    width: fit-content;
  }
  
  .button.default-small-icon .frame-4 {
    align-items: center;
    color: rgba(20, 109, 250, 1);
    display: inline-flex;
    flex: 0 0 auto;
    font-family: "HelveticaNeue-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    gap: 4px;
    letter-spacing: 0px;
    line-height: normal;
  }
  
  .button.large-uppercase-white .frame-4 {
    color: rgba(20, 109, 250, 1);
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.white-large .frame-4 {
    color:rgba(0, 30, 65, 1);
    font-family: "Helvetica Neue-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: -1px;
    white-space: nowrap;
    width: fit-content;
  }
  
  .button.default-small .text-wrapper-3 {
    color: #ffffff;
  }
  
  .button.outline .text-wrapper-3 {
    color: #ffffff;
  }
  
  .button.default-medium .text-wrapper-3 {
    color: #ffffff;
  }
  
  .button.large-uppercase-white-outline .text-wrapper-3 {
    color: #ffffff;
  }
  
  .button.medium-icon .text-wrapper-3 {
    color: #ffffff;
  }
  
  .button.medium-icon-outline .text-wrapper-3 {
    color: rgba(20, 109, 250, 1);
  }
  
  .button.small-white .text-wrapper-3 {
    color: #ffffff;
  }
  
  .button.default-large .text-wrapper-3 {
    color: #ffffff;
  }
  
  .button.default-small-icon .text-wrapper-3 {
    color: #ffffff;
  }
  
  .button.large-uppercase-white .text-wrapper-3 {
    color: #ffffff;
  }
  
  .button.white-large .text-wrapper-3 {
    color: #ffffff;
  }
  