/* .PrivacyPolicy .heading {
  color: #fff;
  text-align: center;
  font-family: "NotoSans-Regular", Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.PrivacyPolicy .sub-header {
  color: #000;
  font-family: "NotoSans-Regular", Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.PrivacyPolicy .regular-text {
  color: #3c4043;
  font-family: "NotoSans-Regular", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.PrivacyPolicy .last-updated-text {
  color: #4c4b55;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
}

.PrivacyPolicy .table-of-content-text {
  color: #146dfa;
  font-family: "NotoSans-Regular", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.PrivacyPolicy .sub-header-2 {
  color: #000;
  font-family: "NotoSans-Regular", Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.4px;
} */

.PrivacyPolicy .heading {
  color: #fff;
  text-align: center;
  font-family: "Helvetica Neue-Medium", Helvetica;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.PrivacyPolicy .sub-header {
  color: #000;
  /* font-family: "NotoSans-Regular", Helvetica; */
  /* font-size: 36px; */
  font-style: normal;
  font-weight: 500;
  font-family: 'Helvetica Neue-Medium';
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.PrivacyPolicy .regular-text {
  color: #3C4043 !important;
  font-family: "Noto Sans" !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.PrivacyPolicy .last-updated-text {
  color: #4c4b55;
  font-family: 'Noto Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  /* font-family: 'Lato'; */
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}

.PrivacyPolicy .table-of-content-text {
  color: #146dfa;
  font-family: "NotoSans-Regular", Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  list-style-type: decimal;
  margin-bottom: 20px;
}

.PrivacyPolicy .sub-header-2 {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 550 !important;
  line-height: 150%;
  /* letter-spacing: 0.4px; */
  font-family: 'Helvetica Neue-Medium';
  letter-spacing: 0.02em;
  text-align: left;
}
