* {
  margin: 0px;
  padding: 0px;

  /* default font family */
}


/*  deleting default scrollbar styling */
body::-webkit-scrollbar {
  display: none;
}
button {
  cursor: pointer;
}
#vector_partners {
  background-image: url("./assets/partners.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#vector_clients {
  background-image: url("./assets/Ellipse 301.png");
  background-repeat: no-repeat;
  background-size: cover;
}
